.form {
  background-color: $color-primary;
  background-position: 50% 50%;
  background-size: cover;
  &__container {
    @extend %container;
    display: grid;
    grid-gap: $gap;
    padding: 30px $gap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "b1 b2 b3";
    @include md-sm {
      grid-template-columns:1fr 1fr;
      grid-template-areas: "b1 b1"
                           "b2 b3";
    }
    @include sm {
      grid-template-columns: 1fr;
      grid-template-areas: "b1""b2""b3";
    }
  }
  &__input {
  &--email,
  &--name {
    @include input;
  }
  &--name {
    grid-area: b1;
  }
  &--email {
    grid-area: b2;
  }
  &--submit {
    grid-area: b3;
  }
  &--submit {
    display:block;
    width:100%;
    height:60px;
    padding: 18px $gap;
    background-color:rgba($color-light, 0.1);
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1.125rem;
    color: $color-light;
    border: 2px solid transparent;
    border-bottom: 2px solid $color-gray;
    transition: 0.5s ease-in-out;
      &:hover {
      background-color: $color-accent;
      border: 2px solid $color-light;
      }
    }
  }    
}