.header {
    background-color: $color-primary;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: $color-light;
    padding: 100px 0;
    display: grid;
    align-items: center;
  }
    
      
  