.header-content {
  position: relative;
  &__title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 53px 0;
    @include lg-md {
      margin: 0 0 43px 0;
    }
    @include lg {
      margin: 0 0 43px 0;
    } 
    @include md-sm {
      margin: 0 0 33px 0;
    }
    @include sm {
      margin: 0 0 33px 0;
    }
  }
  &__container {
    @extend %container;
    }
  &__buttons {
      display: flex;
      justify-content: center;
    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }
}
  
  
  
  
  

  
  